
  <tr>
    <th>ENCUMB</th>
    <th>DB</th>
    <th>SB</th>
  </tr>
  <tr>
    <td><%= "#{@bl.encumbrance_light}/#{@bl.encumbrance_medium}/#{@bl.encumbrance_severe}" %></td>
    <td><%= @bl.damage_adjustment %></td>
    <td><%= @bl.skill_bonus_strength %></td>
  </tr>