
  <tr>
    <th>IM</th>
    <th>DM</th>
    <th>SB</th>
    <th>MAB</th>
  </tr>
  <tr>
    <td><%= @bl.base_ds.initiative_modifier %></td>
    <td><%= @bl.base_ds.defensive_modifier %></td>
    <td><%= @bl.base_ds.skill_bonus_agility %></td>
    <td><%= @bl.base_ds.melee_attack_bonus %></td>
  </tr>