
  <tr>
    <th>IM</th>
    <th>DM</th>
    <th>SB</th>
    <th>MAB</th>
  </tr>
  <tr>
    <td><%= @bl.initiative_modifier %></td>
    <td><%= @bl.defensive_modifier %></td>
    <td><%= @bl.skill_bonus_agility %></td>
    <td><%= @bl.melee_attack_bonus %></td>
  </tr>