
  <tr>
    <th>PTS</th>
    <th>LANG</th>
    <th>SB</th>
  </tr>
  <tr>
    <td><%= @bl.base_ds.power_points %></td>
    <td><%= @bl.base_ds.languages %></td>
    <td><%= @bl.base_ds.skill_bonus_iq %></td>
  </tr>