
  <tr>
    <th>ENCUMB</th>
    <th>DB</th>
    <th>SB</th>
  </tr>
  <tr>
    <td><%= "#{@bl.base_ds.encumbrance_light}/#{@bl.base_ds.encumbrance_medium}/#{@bl.base_ds.encumbrance_severe}" %></td>
    <td><%= @bl.base_ds.damage_adjustment %></td>
    <td><%= @bl.base_ds.skill_bonus_strength %></td>
  </tr>