<table class="nested">
  <tr>
    <th>BRZ</th>
    <th>SUI</th>
    <th>PAN</th>
  </tr>
  <tr>
    <td><%= @bl.rage_chance %></td>
    <td><%= @bl.suicidal_chance %></td>
    <td><%= @bl.panic_chance %></td>
  </tr>
</table>