html, body {
  margin: auto;
  width: 700px;
}

html, body, form, fieldset, table, tr, td, img {
  padding: 0;
  font: 100%/150% arial,helvetica,sans-serif;
}

input, button, select, textarea, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

p h1 h2 h3 {
  margin: auto;
}

label {
  display: block;
  text-align: left;
}

input, select, textarea {
  height: 20px;
  box-sizing: border-box;
  display: block;
}

table {
  width: auto;
  border-collapse: collapse;
  text-align: center;
}

table tr td, table tr th {
  padding: 0 2px 0 2px;
}

.top-nav{
  float: right;
}

.main-left-column {
  width: 300px;
  float: left;
}

.vital-stat-table, .secondary-stat-table {
  width: inherit;
  text-align: center;

  tr td, tr th {
    border: 1px solid black;
  }
  .derived-stat-table {
    width: 100%;
  }
}

.parent-column {
  padding: 0;
}

.vital-stat {
  font-weight: bold;
  font-size: large;
  line-height: 1em;
  text-align: center;
  word-spacing: 999999px;
}

